@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Mulish:wght@400;600&display=swap&family=Poppins&display=swap&family=Work+Sans&display=swap&family=Dancing+Script&display=swap");

:root {
  --Mainfont: "Montserrat", sans-serif;
  --Secondaryfont: "Mulish", sans-serif;
  --Content-Color: #a0616a;
}
.about-Us-Page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.about-Us-Page .thumbnail {
  width: 40%;
  height: 100%;
  padding: 0 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-Us-Page .thumbnail img {
  width: 100%;
}

.about-Us-Page .about-Us-Container {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.about-Us-Page .about-Us-Container .about-Main-Heading {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  /* border: 0.1rem solid pink; */
  padding: 3rem 0;
}
.about-Us-Page .about-Us-Container .about-Main-Heading h1 {
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-family: var(--Mainfont);
  font-weight: bold;
  color: #2f2e41;
  padding: 0 9rem 0 0;
}

.about-Us-Page .about-Us-Container .about-Content {
  width: 80%;
  box-shadow: 0.1rem 0.1rem 1rem rgb(119, 119, 119);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  background: white;
  height: 78%;
  border-radius: 1rem;
  margin: 0 12rem;
  overflow-y: auto;
  line-height: 1.9;
}

.about-Us-Page .about-Us-Container .about-Content p {
  font-size: 1.9rem;
  text-transform: capitalize;
  padding: 1rem;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  font-family: var(--Secondaryfont);
  color: var(--Content-Color);
}

@media (max-width: 775px) {
  .about-Us-Page .thumbnail {
    width: 30%;
    padding: 0 0 0 0.5rem;
  }

  .about-Us-Page .about-Us-Container {
    width: 70%;
  }
}
@media (max-width: 555px) {
  .about-Us-Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }
  .about-Us-Page .thumbnail {
    width: 100%;
    padding: 1rem;
    height: 30%;
  }

  .about-Us-Page .about-Us-Container {
    width: 98%;
    height: 70%;
  }
  .about-Us-Page .about-Us-Container .about-Content {
    width: 98%;
    box-shadow: 0.1rem 0.1rem 1rem rgb(119, 119, 119);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background: white;
    height: 78%;
    margin: 0.5rem;
  }
}
