@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Mulish:wght@400;600&display=swap&family=Poppins&display=swap&family=Work+Sans&display=swap&family=Dancing+Script&display=swap");

:root {
  --Heading-font: "Work Sans", sans-serif;
  --Content-font: "Poppins", sans-serif;
}
.touristAttractions-Container {
  width: 98%;
  height: 25rem;
  margin: 1rem auto;
  display: flex;
  padding: 0.5rem;
  border-radius: 1rem;
  background: rgb(227, 227, 227);
  border: 0.1rem solid black;
  box-shadow: 0.1rem 0.1rem 1rem rgba(25, 25, 25, 0.863);
}
.touristAttractions-Container .thumbnail {
  width: 30%;
  height: 100%;
  /* border: 0.1rem solid blueviolet; */
}
.touristAttractions-Container .thumbnail img {
  width: 100%;
  height: 100%;
}
.touristAttractions-Container .content {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  background: #f6f7c1;
}

.touristAttractions-Container .content h1 {
  font-size: 2.5rem;
  padding: 1rem 2rem;
  letter-spacing: 0.1rem;
  color: #205e61;
  font-family: var(--Heading-font);
  cursor: pointer;
}
.touristAttractions-Container .content h1 .link {
  text-decoration: none;
  color: #205e61;
}
.touristAttractions-Container .content h1 .link:hover {
  color: #164042;
}

.touristAttractions-Container .content p {
  font-size: 1.8rem;
  padding: 0 2rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #2aa8ae;
  cursor: context-menu;
  font-family: var(--Content-font);
}

.touristAttractions-Container .content .rating {
  font-size: 2rem;
  padding: 0 2rem;
}

.touristAttractions-Container .content .rating .star {
  color: rgb(255, 199, 79);
  margin: 0 0.2rem;
}

.touristAttractions-Container .content span {
  font-size: 1.5rem;
  padding: 0 2rem;
  letter-spacing: 0.1rem;
  color: rgb(49, 61, 69);
}

@media (max-width: 800px) {
  .touristAttractions-Container {
    height: 30rem;
  }

  .touristAttractions-Container .content h1 {
    font-size: 2rem;
    padding: 1rem;
  }
  .touristAttractions-Container .content p {
    font-size: 1.5rem;
    padding: 0 1rem;
  }
}

@media (max-width: 430px) {
  .touristAttractions-Container {
    width: 98%;
    height: 50rem;
    flex-direction: column;
  }
  .touristAttractions-Container .thumbnail {
    width: 100%;
    height: 50%;
  }
  .touristAttractions-Container .content {
    width: 100%;
    gap: 1rem;
    height: 50%;
  }
}
@media (max-width: 300px) {
  .touristAttractions-Container .content h1 {
    font-size: 1.8rem;
    padding: 0.5rem;
  }
  .touristAttractions-Container .content p {
    font-size: 1.2rem;
    padding: 0 0.5rem;
  }
}
