@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Mulish:wght@400;600&display=swap&family=Poppins&display=swap&family=Work+Sans&display=swap&family=Dancing+Script&display=swap");

:root {
  --heading-Font: "Montserrat", sans-serif;
  --heading-Color: rgb(241, 198, 133);
}

.section-Four {
  width: 100%;
  padding: 1rem 0;
  height: 90vh;
}
.section-Four .cards-Outer-Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.section-Four .cards-Outer-Container .left-arrow {
  position: absolute;
  cursor: pointer;
  top: 18rem;
  left: 2%;
  font-size: 5rem;
  z-index: 777;
}
.section-Four .cards-Outer-Container .right-arrow {
  position: absolute;
  cursor: pointer;
  top: 18rem;
  right: 2%;
  font-size: 5rem;
  z-index: 777;
}
.section-Four .section-Heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}

.section-Four .section-Heading h1 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-family: var(--heading-Font);
  color: var(--heading-Color);
  text-transform: capitalize;
}

@media (max-width: 650px) {
  .section-Four {
    height: 160vh;
  }
  .section-Four .section-Heading {
    padding: 5rem 0;
  }

  .section-Four .cards-Outer-Container .left-arrow {
    top: 53rem;
    left: 2%;
    font-size: 3rem;
  }
  .section-Four .cards-Outer-Container .right-arrow {
    top: 53rem;
    right: 2%;
    font-size: 3rem;
  }
}

